.Header {
    width: 100%;
    background: #0e5086;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header-text {
    font-size: 30px;
    color: #efefef;
}